.card-surah{
    background-color: $light;
    border: solid 3px $light;
    border-radius: 10px;

    .sub-card{
        background-color: $muted;
        padding: 1rem;
        border-radius: 10px;
    }
}

.card-surah:hover{
    cursor: pointer;
    border: solid 3px $muted;

    .sub-card{
        background-color: $success;
    }
}