.custom-search{
    position: relative;
    // color: $muted;

    input{
        padding-right: 2.2rem !important;
        border: 2px solid $muted;
        border-radius: 15px;
    }

    i{
        position: absolute;
        top: 0;
        bottom: 0;
        font-size: 13px;
        right: 12px;
        align-items: center;
        display: flex;
    }
}