// fonts
$font-style: 'Acumin Pro', sans-serif;
$font-arabic: 'Amiri', serif;

// base color
$primary:       #3444CE;
$secondary:     #465568;
$success:       #A7FFDC ;
$warning:       #F4DFC6;
$light:         #F1F4F9;
$muted:         #E1E8F0;


// background
$bg-main:    #FFFAF6;